doctype html 
html 
  Head
    Title Healthway Hospital Records
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    main(class='container' style='max-width:1000px')
      div(class='d-flex align-items-center p-3 bg-forest-green rounded shadow-sm')
        div(class='col 1h-1')
         h1(class='h3 mb-0 text-white lh-1') Healthway Hospital Records
        div(class='col-md-auto 1h-1')
         small(class='text-white') Dr. Brigden
      div(class='d-flex align-items-center my-1 px-2 bg-light-forest-green rounded shadow-sm')
        div(class='col-md-auto')
          a(id='patientLink' class='p-2' href='/patients') Patients
        div(class='col-md-auto')
          a(id='appointmentLink' class='p-2' href='/appointments') Appointments
        div(class='col-md-auto')
          a(id='inventoryLink' class='p-2' href='/inventory') Inventory
        div(class='col-md-auto')
          a(id='billingLink' class='p-2' href='/billing') Billing

      block content

    script(src='/js/bootstrap.min.js')