doctype html 
html 
  Head
    Title Healthway Hospital Records
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/bootstrap.min.js')
  body 
    main(class='container' style='max-width:1000px')
      div(class='d-flex align-items-center p-3 bg-forest-green rounded shadow-sm')
        div(class='col 1h-1')
         h1(class='h3 mb-0 text-white lh-1') Healthway Hospital Records
        div(class='col-md-auto 1h-1')
         small(class='text-white') Dr. Brigden
      div(class='d-flex align-items-center my-1 bg-light-forest-green rounded shadow-sm')
        div(class='col-md-auto px-2')
          p(class='my-3 text-white') Patients
        div(class='col-md-auto px-2')
          p(class='my-3 text-white') Appointments
        div(class='col-md-auto px-2')
          p(class='my-3 text-white') Inventory
      div(class='d-flex my-2')
        select(id='selectBox' class='col p-2 mx-1 form select shadow-sm' size='2')
          each PatientRecord in PatientRecords
           option(id=PatientRecord.PatientID) #{PatientRecord.PatientName}
        div(Class='col p-2 mx-1 border rounded shadow-sm' style='height:300px;')
          div(class='p-1')
            label(for='patientIdInput' class='mx-1') Patient ID 
            input(id='patientIdInput')
          div(class='p-1')
            label(for='patientNameInput' class='mx-1') Patient Name
            input(id='patientNameInput')
          div(class='p-1')
            label(for='patientDobInput' class='mx-1') Date of Birth 
            input(id='patientDobInput' type='date')
          div(class='p-1')
            label(for='patientHistoryInput' class='mx-1') Medical History 
            textarea(id='patientHistoryInput' rows='3')
          div(class='p-1')
            label(for='patientMedicationInput' class='mx-1') Current Medication 
            textarea(id='patientMedicationInput' rows='3')
          div(class='p-1')
            label(for='patientContact1NameInput' class='mx-1') Emergency Contact 1 Name 
            input(id='patientContact1NameInput')
          div(class='p-1')
            label(for='patientContact1PhoneInput' class='mx-1') Emergency Contact 1 Phone No.
            input(id='patientContact1PhoneInput')
          div(class='p-1')
            label(for='patientContact1RelationInput' class='mx-1') Emergency Contact 1 Relation 
            input(id='patientContact1RelationInput')
          div(class='p-1')
            label(for='patientContact2NameInput' class='mx-1') Emergency Contact 2 Name 
            input(id='patientContact2NameInput')
          div(class='p-1')
            label(for='patientContact2PhoneInput' class='mx-1') Emergency Contact 2 Phone No.
            input(id='patientContact2PhoneInput')
          div(class='p-1')
            label(for='patientContact2RelationInput' class='mx-1') Emergency Contact 2 Relation 
            input(id='patientContact2RelationInput')
          script.
            var selectBox = document.getElementById('selectBox');

            selectBox.addEventListener('change', function(event) {
              var selectBoxSelectedId = selectBox.options[selectBox.selectedIndex].id;
              var currentRecord = !{PatientRecords}.find(record => record.PatientID == selectBoxSelectedId);

              document.getElementById('patientIdInput').value = currentRecord.PatientID;
              document.getElementById('patientNameInput').value = currentRecord.PatientName;
              document.getElementById('patientDobInput').value = currentRecord.DateOfBirth;
              document.getElementById('patientHistoryInput').value = currentRecord.MedicalHistory;
              document.getElementById('patientMedicationInput').value = currentRecord.CurrentMedication;
              document.getElementById('patientContact1NameInput').value = currentRecord.EmergencyContact1Name;
              document.getElementById('patientContact1PhoneInput').value = currentRecord.EmergencyContact1PhoneNo;
              document.getElementById('patientContact1RelationInput').value = currentRecord.EmergencyContact1Relation;
              document.getElementById('patientContact2NameInput').value = currentRecord.EmergencyContact2Name;
              document.getElementById('patientContact2PhoneInput').value = currentRecord.EmergencyContact2PhoneNo;
              document.getElementById('patientContact2RelationInput').value = currentRecord.EmergencyContact2Relation;
            });