doctype html 
html 
  Head
    Title Healthway Hospital Records
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
 
  body 
    main(class='container' style='max-width:1000px')
      div(class='d-flex align-items-center p-3 bg-forest-green rounded shadow-sm')
        div(class='col 1h-1')
         h1(class='h3 mb-0 text-white lh-1') healthway Hospital Records
        div(class='col-md-auto 1h-1')
         small(class='Text-white') Dr.Brigden
      div(class='d-flex align-items-center my-1 bg-light-forest-green rounded shadow-sm')
        div(class='col-md-auto-px-2')
          p(class='my-3 text-white') Patients
        div(class='col-md-auto-px-2')
          p(class='my-3 text-white') Appointments
        div(class='col-md-auto-px-2')
          p(class='my-3 text-white') Inventory
      div(class='d-flex my-2')
        select(class='col p-2 mx-1 form select shadow-sm' multiple)
          option one 
          option two
        div(Class='col p-2 mx-1 border rounded shadow-sm' style='height:300px;')
          p test
