extends index 

block content

    div(class='d-flex my-2')
        select(id='inventorySelectBox' class='col p-2 mx-1 form select shadow-sm' size='2')
          each InventoryRecord in InventoryRecords
           option(data-record=InventoryRecord) #{InventoryRecord.InventoryName}
        div(class='col p-2 mx-1 border rounded shadow-sm')
          div(class='p-1')
            label(for='inventoryIdInput' class='mx-1' disabled='disabled') Inventory ID 
            input(id='inventoryIdInput')
          div(class='p-1')
            label(for='inventoryNameInput' class='mx-1') Inventory Name 
            input(id='inventoryNameInput')
          div(class='p-1')
            label(for='inventoryQuantityInput' class='mx-1') Quantity 
            input(id='inventoryQuantityInput')
          div(class='p-1')
            label(for='inventorySupplierNameInput' class='mx-1') Supplier Name 
            textarea(id='inventorySupplierNameInput' rows='3')
          div(class='p-1')
            label(for='inventorySupplierContactInput' class='mx-1') Supplier Contact
            input(id='inventorySupplierContactInput')
          div(class='p-1')
            label(for='inventoryExpirationDateInput' class='mx-1') Expiration Date 
            input(id='inventoryExpirationDateInput' type='date')
    div
      canvas(id='inventoryChart')
        
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
    script(src='/scripts/inventories.js')