extends index 

block content

    div(class='d-flex my-2')
        select(id='inventorySelectBox' class='col p-2 mx-1 form select shadow-sm' size='2')
          each InventoryRecord in InventoryRecords
           option(data-record=inventoryRecord) #{inventoryRecord.PatientName}
        div(class='col p-2 mx-1 border rounded shadow-sm')
          div(class='p-1')
            label(for='inventoryIdInput' class='mx-1') Inventory ID 
            input(id='inventoryIdInput')
          div(class='p-1')
            label(for='inventoryNameInput' class='mx-1') Inventory Name 
            input(id='inventoryNameInput')
          div(class='p-1')
            label(for='inventoryQuantityInput' class='mx-1') Quantity 
            input(id='inventoryQuantityInput' type='date')
          div(class='p-1')
            label(for='inventorySupplierNameInput' class='mx-1') Supplier Name 
            textarea(id='inventorySupplierNameInput' rows='3')
          div(class='p-1')
            label(for='inventorySupplierContactInput' class='mx-1') Supplier Contact
            input(id='inventorySupplierContactInput')
          div(class='p-1')
            label(for='inventoryExpirationDateInput' class='mx-1') Expiration Date 
            input(id='inventoryExpirationDateInput')
        
    script(src='/scripts/inventorys.js')