body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg-forest-green{
  background-color: #46834d;
}

.bg-light-forest-green{
  background-color: #83b889;
}

select{
  height:300px;
  max-width:20vw;
  overflow:scroll;
  overflow-y:scroll;
}

a {
  background-color: #83b889;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a:hover {
  background-color: #6e9b73 !important;
  color: white;
}